{% extends 'base.html' %}

{% block content %}
  <h2>DETAIL</h2>
  <h3>{{ article.pk }} 번째 글</h3>
  <hr>
  <p>제목: {{ article.title }}</p>
  <p>내용: {{ article.content }}</p>
  <p>작성자: {{ article.user }}</p>
  <p>작성 시각: {{ article.created_at }}</p>
  <p>수정 시각: {{ article.updated_at }}</p>
  <hr>
  {% if user == article.user %}
    <a href="{% url 'articles:update' article.pk %}">UPDATE</a><br>
    <form action="{% url 'articles:delete' article.pk %}" method="POST">
      {% csrf_token %}
      <input type="submit" value="DELETE">
    </form>
  {% endif %}
  <a href="{% url 'articles:index' %}">[back]</a>
  <hr>
  {% if user.is_authenticated %}
  <form action="{% url 'articles:comment_create' article.pk %}" method="POST">
    {% csrf_token %}
    {{comment_form.as_p}}
    <button>댓글달기</button>
  </form>
  {% else %}
    <a href="{% url 'accounts:login'%}">로그인해주세요</a>
  {% endif %}
  <ul>
  {% comment %} 댓글 보기 {% endcomment %}
    {% for comment in comments %}
      <li class="d-flex">
        {{comment.content}}
        <form action="{% url 'articles:comment_delete' comment.pk %}" method ="POST">
          {% csrf_token %}
          {% if user.is_authenticated %}
            <button>X</button>
          {% endif %}  
        </form>
      </li>
    {% endfor %}
  </ul>
  
  {% comment %} 역참조 {% endcomment %}
{% comment %}   {% for comment in article.comment_set.all %}   
    <p>{{comment}}</p>
  {% endfor %}
 {% endcomment %}
{% endblock  %}
